/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  /* for test only! */
  min-height: 250vh;
}

section {
  position: relative;
}

section p {
  position: absolute;
  font-size: 5rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* ------MENU------ */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transform: scaleY(1);
  transition: 0.5s;
  z-index: 2;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu ul li {
  position: relative;
  padding: 15px 10px;
  margin: 0px 50px;
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: rgba(24, 24, 24, 0.6);
  cursor: pointer;
  transition: 0.4s;
}

.menu ul li:hover {
  color: white;
}

.menu ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20%;
  left: 50%;
  height: 2px;
  width: 0;
  background: transparent;
  transition: 0.4s;
}

.menu ul li:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.menu-small ul li {
  font-size: 1.5rem;
  padding: 10px 10px;
}

.burger {
  display: none;
  position: fixed;
  top: 5%;
  right: 10%;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: 0.3s;
  z-index: 3;
}

.arrowup {
  display: block;
  position: fixed;
  top: calc(95% - 40px);
  right: 3%;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: 0.3s;
  z-index: 3;
  transform: scale(0);
}

.burger.active {
  display: block;
}

.arrowup.active {
  transform: scale(1);
}

.arrowup:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

/* ------HEADER------ */

header {
  position: relative;
  background-image: url(../img/header-background.jpg);
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.welcome {
  position: absolute;
  left: 8%;
  top: 30%;
  color: white;
  text-shadow: 2px 2px 2px gray;
  z-index: 1;
}

.welcome h1 {
  font-size: 8rem;
  font-weight: 700;
  margin: 60px 0;
  text-shadow: 6px 6px 20px gray, 0 0 2px gray;
  letter-spacing: 2px;
}

.welcome p {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.welcome h2 {
  font-size: 5rem;
  letter-spacing: 1px;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 100, 0.1);
}

.about {
  background-color: lightgray;
  min-height: 100vh;
}

.skills {
  background-color: white;
  min-height: 100vh;
}

.portfolio {
  background-color: lightgray;
  min-height: 100vh;
}

.contact {
  background-color: white;
  min-height: 50vh;
}

footer {
  background-color: rgb(31, 31, 31);
  min-height: 10vh;
}

/* ------MOBILE------ */

@media (max-width: 1024px) {
  .menu {
    background-color: #45bdcd;
    height: 100%;
    z-index: 0;
    transform: scaleY(0);
    opacity: 0;
  }

  .menu.active {
    transform: scaleY(1);
    z-index: 2;
    opacity: 1;
  }

  .arrowup {
    right: 10%;
  }

  .burger {
    display: block;
  }
  .fas.fa-bars {
    display: none;
    transform: scaleY(0);
  }

  .fas.fa-times {
    display: none;
    transform: rotate(0);
  }
  .fas.fa-times.active {
    display: inline-block;
    animation: rotate 0.3s;
    color: white;
  }
  .fas.fa-bars.active {
    display: inline-block;
    animation: scale 0.3s both;
  }

  @keyframes rotate {
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes scale {
    100% {
      transform: scaleY(1);
    }
  }

  .menu ul {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu ul li {
    margin: 2% 0;
    padding: 10% 0;
  }

  .menu ul li::after {
    bottom: 30%;
  }

  header {
    background-position-x: -60%;
  }

  .welcome {
    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .welcome h1 {
    font-size: 3.2rem;
    margin: 30px 0;
  }

  .welcome p {
    font-size: 3rem;
  }

  .welcome h2 {
    font-size: 3rem;
    font-weight: lighter;
  }
}
